<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxy.mapper.BookMapper">
    <select id="getBookByKind" resultType="com.wxy.pojo.Book">
        select * from book where kind_name = #{kind_name}
    </select>

    <select id="getBookByBook_id" parameterType="String" resultType="com.wxy.pojo.Book">
        select * from book where book_id = #{book_id}
    </select>

    <select id="getBookByBook_name" parameterType="String" resultType="com.wxy.pojo.Book">
        select * from book where book_name = #{book_name}
    </select>

    <insert id="addBook" parameterType="com.wxy.pojo.Book">
        insert into book values (#{book_id},#{book_name},#{book_editor},#{book_price},#{book_num},#{pub_name},#{kind_name}),#{book_picture}
    </insert>

    <delete id="deleteBook" parameterType="String">
        delete from book where book_id = #{book_id}
    </delete>

    <update id="updateBook" parameterType="com.wxy.pojo.Book">
        update book set book_name = #{book_name},book_editor= #{book_editor},book_price = #{book_price},kind_name = #{kind_name},
        book_num = #{book_num},pub_name = #{pub_name} where book_id = #{book_id}
    </update>

</mapper>